[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=CuteSpotify
Icon=/usr/share/icons/hicolor/90x90/apps/cutespotify.png
Exec=invoker --single-instance --type=silica-qt5 /usr/bin/CuteSpotify

X-Desktop-File-Install-Version=0.20
