[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=CuteSpot
Icon=harbour-cutespot
Exec=harbour-cutespot

X-Desktop-File-Install-Version=0.20
