[Desktop Entry]
Type=Application
Name=CuteSpotify
Icon=/usr/share/icons/hicolor/90x90/apps/harbour-cutespotify.png
Exec=/usr/bin/CuteSpotify

X-Desktop-File-Install-Version=0.20
