[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=MeeSpot
Exec=invoker --single-instance --splash /usr/share/MeeSpot/splash.png --type=d /opt/MeeSpot/bin/MeeSpot
Icon=/usr/share/icons/hicolor/64x64/apps/MeeSpot.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
