[Desktop Entry]
Type=Application
Terminal=false
Exec=./CuteSpotify
Name=CuteSpotify
Icon=./cutespotify.png
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
X-Ubuntu-Single-Instance=true
X-Ubuntu-Splash-Show-Header=true
